<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>src/main/resources/elapse.xml</file>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>